<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS HTTP</title>
<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.js"
    integrity="sha512-d0VvI/6jhj3RXE8+f0G7KDZIBXH/atpouQVCa+IBweFWUGy+B+qEbucPlstQO8yTLIu0XTfx9xqks7/DyDlZng=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <div ng-app="httpApp" ng-controller="httpController">
        <!-- <input type="text" ng-model="search">     -->
        <ul>
            <li ng-repeat="u in users">
                {{u.name}}
            </li>        
        </ul>
    </div>
    
    <script src="angular.js"></script>
    <script src="./script.js"></script>
    
    <!-- <script src="./script.js"></script> -->
</body>
</html>